html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.index-element{
    position: absolute;
    height: 100%;


}
.index-ball{
    margin-top:33%;
}
.index-title{
    margin-top: -82%;
}
.up-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 40px;
    width: 75px;
    z-index: 11;
    opacity: 0.8;
}
.up-arrow img {
    width: 100%;
    animation: upArrow 1.5s infinite ease-in-out;
}
@-webkit-keyframes music {
    to {
        transform: rotate(360deg);
    }
}
.btn-music-on {
    position: absolute;
    background: url('../img/musicBtn.png') 50% 50% no-repeat;
    padding: 50px;
    z-index: 9999;
    top: 0;
    right: 0;
    animation: music 5s infinite linear;
}
.btn-music-off {
    background: url('../img/musicBtnOff.png') 50% 50% no-repeat;
}
.index-man1{
    position: absolute;
    top:15%;
    left: 0;
    right: 0;
    text-align: center;
}
.index-title2{
    position: absolute;
    left: 0;
    right: 0;
    top:60%;
}
.index-title3{
    position: absolute;
    left: 0;
    right: 0;
    top:10%;
}
.index-pic1{
    position: absolute;
    left:0;
    right: 0;
    top:50%;
}
.index-element2{
    background-color: #f94848;
    height: 100%;
    width: 100%;

}
.index-title4{
    position: absolute;
    left: 0;
    right: 0;
    top:10%;

}
.index-title5{
    position: absolute;
    left: 0;
    right: 0;
    top:40%;
}
.index-title6{
    position: absolute;
    left: 0;
    right:0;
    padding-top: 30%;
    bottom: 15%;
}
.index-element3{
    background-color: #ec5f55;
    height: 100%;
    width: 100%;
}
.index-pic2{
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 100%;
    top:-56%;

}
.index-man2{
    position: absolute;
    left: 0;
    right: 0;
    top:11%;
}
.index-title7{
    position: absolute;
    left: 0;
    right: 0;
    top:67%;
}
.index-element4{

    height: 100%;
    width: 100%;
    background-color: #7876b7;

}
.index-ball2{
    position: absolute;
    left: 0;
    right: 0;
    top:10%;
}
.index-man3{
    position: absolute;
    left:10%;
    right: 0;
    top:10%;
}
.index-title8{
    position: absolute;
    left: 0;
    right: 0;
    top:65%;
}
.index-element5{
    height: 100%;
    width: 100%;
    background-color: #147c79;
}
.index-pic3{
    position: absolute;
    left: 0;
    right: 0;
}
.index-man4{
    position: absolute;
    left: 0;
    right: 0;
    top:5%;
}
.index-title9{
    position: absolute;
    left: 0;
    right: 0;
    top:65%;
}
.index-element6{
    height: 100%;
    width: 100%;
    background-color: #609b50;
}
.index-element7{
    height: 100%;
    width: 100%;
    background-color: #5fbdd9;
}
.index-title10{
    position: absolute;
    padding-top: 100%;
    top:8%;
}
